<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">HL7 UK Implementation Guide</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret">
    </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="validation.html">Testing/Validation</a>
      </li>
    </ul>
  </li>
  <li><a href="profiles.html">Profiles</a></li>
  <li><a href="extensions.html">Extensions</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Terminology<b class="caret">
    </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="codesystems.html">CodeSystems</a>
      </li>
      <li>
        <a href="valuesets.html">ValueSets</a>
      </li>
      <li>
        <a href="conceptmaps.html">ConceptMaps</a>
      </li>
    </ul>
  </li>
  <!--<li><a href="examples.html">Examples</a></li>-->
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>