<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">HL7 UK Implementation Guide</a></li>
  <li><a href="artifacts.html">Profiles and Terminology</a></li>
  <!--<li><a href="terminology.html">Terminology </a></li>-->
  <li><a href="toc.html">Table of Contents</a></li>
</ul>